<strong>Olá, {{ student }}</strong>
<p>Sobre sua solicitação de auxilio:</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br/>
  <br/>
  <strong>Resposta: </strong>{{ answer }} <br/>
  <br/>
  <small>
    Qualquer dúvida estamos a disposição!
  </small>
</p>
